In [39]:
import requests
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
from polygon import RESTClient


api_key = "beBybSi8daPgsTp5yx5cHtHpYcrjp5Jq"
client = RESTClient(api_key=api_key)

# Define the currency pairs to use
ticker = "C:EURPLN"
date_from = "2023-04-12"
date_to = "2023-04-12"
fxdata = client.get_aggs(ticker=ticker, multiplier=1, timespan="hour", from_=date_from, to=date_to)
fxdata

[Agg(open=4.66718, high=4.6698, low=4.6615, close=4.6636, volume=2398, vwap=4.6662, timestamp=1681257600000, transactions=2398, otc=None),
 Agg(open=4.6672, high=4.6697, low=4.6625, close=4.6667, volume=2655, vwap=4.6663, timestamp=1681261200000, transactions=2655, otc=None),
 Agg(open=4.66658, high=4.6696, low=4.6629, close=4.66672, volume=2844, vwap=4.6661, timestamp=1681264800000, transactions=2844, otc=None),
 Agg(open=4.66672, high=4.6696, low=4.6627, close=4.66655, volume=2546, vwap=4.6661, timestamp=1681268400000, transactions=2546, otc=None),
 Agg(open=4.66652, high=4.6693, low=4.6631, close=4.66731, volume=1928, vwap=4.6663, timestamp=1681272000000, transactions=1928, otc=None),
 Agg(open=4.66741, high=4.6696, low=4.6632, close=4.6649, volume=2089, vwap=4.6668, timestamp=1681275600000, transactions=2089, otc=None),
 Agg(open=4.66825, high=4.67048, low=4.6628, close=4.6633, volume=3618, vwap=4.6685, timestamp=1681279200000, transactions=3618, otc=None),
 Agg(open=4.66732, high=4.67363, low=4.6617, close=4.66869, volume=4836, vwap=4.6688, timestamp=1681282800000, transactions=4836, otc=None),
 Agg(open=4.66877, high=4.66978, low=4.6586, close=4.66505, volume=4523, vwap=4.6657, timestamp=1681286400000, transactions=4523, otc=None),
 Agg(open=4.66512, high=4.66806, low=4.6608, close=4.66597, volume=4030, vwap=4.666, timestamp=1681290000000, transactions=4030, otc=None),
 Agg(open=4.66593, high=4.6675, low=4.6584, close=4.66416, volume=4093, vwap=4.6648, timestamp=1681293600000, transactions=4093, otc=None),
 Agg(open=4.66431, high=4.66579, low=4.6577, close=4.66254, volume=4237, vwap=4.6635, timestamp=1681297200000, transactions=4237, otc=None),
 Agg(open=4.66257, high=4.6775, low=4.6552, close=4.6606, volume=5706, vwap=4.6613, timestamp=1681300800000, transactions=5706, otc=None),
 Agg(open=4.66062, high=4.66398, low=4.6544, close=4.66219, volume=5925, vwap=4.6607, timestamp=1681304400000, transactions=5925, otc=None),
 Agg(open=4.66214, high=4.66256, low=4.6524, close=4.65873, volume=6130, vwap=4.6596, timestamp=1681308000000, transactions=6130, otc=None),
 Agg(open=4.65863, high=4.659, low=4.6473, close=4.65284, volume=4725, vwap=4.6546, timestamp=1681311600000, transactions=4725, otc=None),
 Agg(open=4.65294, high=4.65299, low=4.6461, close=4.65072, volume=3216, vwap=4.6504, timestamp=1681315200000, transactions=3216, otc=None),
 Agg(open=4.65107, high=4.65215, low=4.6463, close=4.651, volume=2931, vwap=4.6504, timestamp=1681318800000, transactions=2931, otc=None),
 Agg(open=4.65115, high=4.65164, low=4.6456, close=4.65102, volume=3632, vwap=4.6499, timestamp=1681322400000, transactions=3632, otc=None),
 Agg(open=4.6471, high=4.6512, low=4.6455, close=4.65019, volume=2940, vwap=4.6495, timestamp=1681326000000, transactions=2940, otc=None),
 Agg(open=4.65013, high=4.6527, low=4.6451, close=4.6467, volume=1736, vwap=4.6489, timestamp=1681329600000, transactions=1736, otc=None),
 Agg(open=4.6475, high=4.6526, low=4.64496, close=4.6488, volume=1337, vwap=4.6489, timestamp=1681333200000, transactions=1337, otc=None),
 Agg(open=4.65089, high=4.6559, low=4.64662, close=4.65282, volume=1759, vwap=4.6518, timestamp=1681336800000, transactions=1759, otc=None),
 Agg(open=4.65, high=4.65471, low=4.64745, close=4.6491, volume=2319, vwap=4.6517, timestamp=1681340400000, transactions=2319, otc=None)]

In [54]:
df = pd.DataFrame(fxdata)
df

,open,high,low,close,volume,vwap,timestamp,transactions,otc
0,4.66718,4.66980,4.66150,4.66360,2398,4.6662,1681257600000,2398,None
1,4.66720,4.66970,4.66250,4.66670,2655,4.6663,1681261200000,2655,None
2,4.66658,4.66960,4.66290,4.66672,2844,4.6661,1681264800000,2844,None
3,4.66672,4.66960,4.66270,4.66655,2546,4.6661,1681268400000,2546,None
4,4.66652,4.66930,4.66310,4.66731,1928,4.6663,1681272000000,1928,None
5,4.66741,4.66960,4.66320,4.66490,2089,4.6668,1681275600000,2089,None
6,4.66825,4.67048,4.66280,4.66330,3618,4.6685,1681279200000,3618,None
7,4.66732,4.67363,4.66170,4.66869,4836,4.6688,1681282800000,4836,None
8,4.66877,4.66978,4.65860,4.66505,4523,4.6657,1681286400000,4523,None
9,4.66512,4.66806,4.66080,4.66597,4030,4.6660,1681290000000,4030,None
10,4.66593,4.66750,4.65840,4.66416,4093,4.6648,1681293600000,4093,None
11,4.66431,4.66579,4.65770,4.66254,4237,4.6635,1681297200000,4237,None
12,4.66257,4.67750,4.65520,4.66060,5706,4.6613,1681300800000,5706,None
13,4.66062,4.66398,4.65440,4.66219,5925,4.6607,1681304400000,5925,None
14,4.66214,4.66256,4.65240,4.65873,6130,4.6596,1681308000000,6130,None
15,4.65863,4.65900,4.64730,4.65284,4725,4.6546,1681311600000,4725,None
16,4.65294,4.65299,4.64610,4.65072,3216,4.6504,1681315200000,3216,None
17,4.65107,4.65215,4.64630,4.65100,2931,4.6504,1681318800000,2931,None
18,4.65115,4.65164,4.64560,4.65102,3632,4.6499,1681322400000,3632,None
19,4.64710,4.65120,4.64550,4.65019,2940,4.6495,1681326000000,2940,None
20,4.65013,4.65270,4.64510,4.64670,1736,4.6489,1681329600000,1736,None
21,4.64750,4.65260,4.64496,4.64880,1337,4.6489,1681333200000,1337,None
22,4.65089,4.65590,4.64662,4.65282,1759,4.6518,1681336800000,1759,None
23,4.65000,4.65471,4.64745,4.64910,2319,4.6517,1681340400000,2319,None

In [55]:
df['timestamp'] = pd.to_datetime(df['timestamp'], unit='ms')

In [57]:
df['price_times_transactions'] = df['vwap'] * df['transactions']

In [58]:
grouped_data = df.groupby(pd.Grouper(key='timestamp', freq='6H'))

In [60]:

grouped_vwap = grouped_data['price_times_transactions'].sum() / grouped_data['transactions'].sum()

In [62]:
grouped_liquidity = grouped_data['transactions'].sum() / 6

In [63]:
# Combine the results into a new DataFrame
resampled_df = pd.DataFrame({
    'timestamp': grouped_vwap.index,
    'vwap': grouped_vwap.values,
    'liquidity': grouped_liquidity.values,
    'max': grouped_data['high'].max().values,
    'min': grouped_data['low'].min().values
})

In [64]:
resampled_df

            timestamp      vwap    liquidity      max      min
0 2023-04-12 00:00:00  4.666281  2410.000000  4.66980  4.66150
1 2023-04-12 06:00:00  4.666226  4222.833333  4.67363  4.65770
2 2023-04-12 12:00:00  4.657366  4772.166667  4.67750  4.64610
3 2023-04-12 18:00:00  4.650138  2287.166667  4.65590  4.64496

In [66]:
# Calculate volatility and Keltner Channels
resampled_df['volatility'] = (resampled_df['max'] - resampled_df['min']) / resampled_df['vwap']

In [70]:
# Calculate Keltner Channels
keltner_multiplier = 0.025 * np.arange(1, 101)
resampled_df['keltner_upper'] = list(np.outer(resampled_df['vwap'] + resampled_df['volatility'], keltner_multiplier))
resampled_df['keltner_lower'] = list(np.outer(resampled_df['vwap'] - resampled_df['volatility'], keltner_multiplier))

In [77]:
resampled_df

,timestamp,vwap,liquidity,max,min,volatility,keltner_upper,keltner_lower
0,2023-04-12 00:00:00,4.666281,2410.000000,4.66980,4.66150,0.001779,"[0.11670149544935116, 0.2334029908987023, 0.35...","[0.11661255952990197, 0.23322511905980395, 0.3..."
1,2023-04-12 06:00:00,4.666226,4222.833333,4.67363,4.65770,0.003414,"[0.11674099600204094, 0.23348199200408187, 0.3...","[0.11657030131019022, 0.23314060262038044, 0.3..."
2,2023-04-12 12:00:00,4.657366,4772.166667,4.67750,4.64610,0.006742,"[0.11660270580532502, 0.23320541161065003, 0.3...","[0.11626560540900813, 0.23253121081801625, 0.3..."
3,2023-04-12 18:00:00,4.650138,2287.166667,4.65590,4.64496,0.002353,"[0.11631226769115673, 0.23262453538231345, 0.3...","[0.11619463677579658, 0.23238927355159317, 0.3..."

In [78]:
# Calculate FD for the first 6-hour interval
def count_crosses(prices, upper, lower):
    count = 0
    for i in range(1, len(prices)):
        if (prices[i - 1] < upper and prices[i] > upper) or (prices[i - 1] > lower and prices[i] < lower):
            count += 1
    return count

In [80]:
first_interval_prices = df.loc[(df['timestamp'] >= resampled_df.iloc[0]['timestamp']) & (df['timestamp'] < resampled_df.iloc[1]['timestamp']), 'vwap']

In [89]:
first_interval_prices

0    4.6662
1    4.6663
2    4.6661
3    4.6661
4    4.6663
5    4.6668
Name: vwap, dtype: float64

In [81]:
first_interval_upper = resampled_df.iloc[0]['keltner_upper']
first_interval_lower = resampled_df.iloc[0]['keltner_lower']
first_interval_max = resampled_df.iloc[0]['max']
first_interval_min = resampled_df.iloc[0]['min']

In [83]:
def count_crosses(prices, upper_list, lower_list):
    count = 0
    for upper, lower in zip(upper_list, lower_list):
        for i in range(1, len(prices)):
            if (prices[i - 1] < upper and prices[i] > upper) or (prices[i - 1] > lower and prices[i] < lower):
                count += 1
    return count

first_interval_upper = resampled_df.iloc[0]['keltner_upper']
first_interval_lower = resampled_df.iloc[0]['keltner_lower']
cross_count = count_crosses(first_interval_prices, first_interval_upper, first_interval_lower)

In [ ]:
resampled_df.loc[resampled_df.index[0], 'FD'] = cross_count / (first_interval_max - first_interval_min)

In [91]:
first_interval_prices

0    4.6662
1    4.6663
2    4.6661
3    4.6661
4    4.6663
5    4.6668
Name: vwap, dtype: float64

In [93]:
prices = first_interval_prices

count = 0
for upper, lower in zip(first_interval_upper, first_interval_lower):
    for i in range(1, len(prices)):
        if (prices[i - 1] < upper and prices[i] > upper) or (prices[i - 1] > lower and prices[i] < lower):
            count += 1

count

0

In [85]:
resampled_df

,timestamp,vwap,liquidity,max,min,volatility,keltner_upper,keltner_lower,FD
0,2023-04-12 00:00:00,4.666281,2410.000000,4.66980,4.66150,0.001779,"[0.11670149544935116, 0.2334029908987023, 0.35...","[0.11661255952990197, 0.23322511905980395, 0.3...",0.0
1,2023-04-12 06:00:00,4.666226,4222.833333,4.67363,4.65770,0.003414,"[0.11674099600204094, 0.23348199200408187, 0.3...","[0.11657030131019022, 0.23314060262038044, 0.3...",NaN
2,2023-04-12 12:00:00,4.657366,4772.166667,4.67750,4.64610,0.006742,"[0.11660270580532502, 0.23320541161065003, 0.3...","[0.11626560540900813, 0.23253121081801625, 0.3...",NaN
3,2023-04-12 18:00:00,4.650138,2287.166667,4.65590,4.64496,0.002353,"[0.11631226769115673, 0.23262453538231345, 0.3...","[0.11619463677579658, 0.23238927355159317, 0.3...",NaN

In [ ]:

# # Filter data by date range
# start_date = "2022-01-02"
# end_date = "2023-01-01"
# data = df[(df['datetime'] >= start_date) & (df['datetime'] < end_date)]


# data['price_times_transactions'] = data['vw'] * data['n']



# # Group the data into 6-hour intervals
# grouped_data = data.groupby(pd.Grouper(key='datetime', freq='6H'))



# # Calculate VWAP and Liquidity for each group
# grouped_vwap = grouped_data['price_times_transactions'].sum() / grouped_data['n'].sum()
# grouped_liquidity = grouped_data['n'].sum() / 6


# grouped_vwap = grouped_vwap.fillna(0)

# max_value =  grouped_data['h'].max().fillna(0)
# min_value = grouped_data['l'].max().fillna(0)


# # Combine the results into a new DataFrame
# resampled_df = pd.DataFrame({
#     'timestamp': grouped_vwap.index,
#     'vwap': grouped_vwap.values,
#     'liquidity': grouped_liquidity.values,
#     'max': max_value,
#     'min': min_value
# })


# resampled_df['volatility'] = (resampled_df['max'] - resampled_df['min']) / resampled_df['vwap']